/*-- scss:defaults --*/
$body-bg: #14283a;
$body-color: #f6f0ea;
$link-color: #84c9af;
$link-hover-color: #f0adc0;
$primary: #84c9af;

$navbar-bg: #0d2233;
$navbar-fg: #f8f1eb;
$navbar-hl: #f0adc0;

$footer-bg: #081923;
$footer-fg: #dae7e2;

$font-family-sans-serif: "Source Serif 4", Georgia, serif;
$headings-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
