/*-- scss:defaults --*/
$body-bg: #fcfaf6;
$body-color: #1c1c1c;
$link-color: #2c5f7c;
$link-hover-color: #111111;
$primary: #2c5f7c;

$navbar-bg: #fcfaf6;
$navbar-fg: #1c1c1c;
$navbar-hl: #2c5f7c;

$footer-bg: #111111;
$footer-fg: #d0d0d0;

$font-family-sans-serif: "Source Serif 4", Georgia, serif;
$headings-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
