/*-- scss:defaults --*/
$body-bg: #121212;
$body-color: #ededed;
$link-color: #8fbdd3;
$link-hover-color: #ffffff;
$primary: #8fbdd3;

$navbar-bg: #121212;
$navbar-fg: #ededed;
$navbar-hl: #8fbdd3;

$footer-bg: #000000;
$footer-fg: #d0d0d0;

$font-family-sans-serif: "Source Serif 4", Georgia, serif;
$headings-font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
